
/* ---------------------Cartegory------------------------------------- */
.cartegory {
    padding: 100px 0 0;
}
.cartegory-top {
    margin-bottom: 50px;
}


/* ---------------------Cartegory------------------------------------- */
.cartegory {
    padding: 100px 0 0;
}
.cartegory-left {
    width: 40%;
}

