@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
:root {
    --main-font: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: var(--main-font);
}
.row {
    display: flex;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: auto;
}
/* -------------------header---------------- */
.header-content {
    justify-content: space-between;
    align-items: center;
}
.header-content-logo {
    width: 20%;
}
.header-content-logo img {
    width: 100px;
}
.header-content-nav {
    width: 50%;
}
.header-content-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content-nav ul li {
    margin-right: 12px;
}
.header-content-nav ul li:hover a{
    color: #82c1de;
}
.header-content-nav ul li a {
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}
.header-content-search {
    width: 20%;
}
.header-content-search input {
    border: none;
    outline: none;
    border-bottom: 1px solid #dddd;
}
.header-content-search i {
    cursor: pointer;
}
.header-content-icon {
    width: 10%;
    text-align: right;
}
.header-content-icon img {
    width: 20px;
    margin-left: 6px;
    cursor: pointer;
}
header {
position: fixed;
height: 80px;
z-index: 1000;
width: 100vw;
top: 0;
left: 0;
background-color: white;
}
.slider {
    margin-top: 80px;
}

:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    
}
.space-between {
    justify-content: space-between;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.top {
    padding: 12px 0;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;

}
.top.active {
    background-color: rgba(255, 255, 255, 1);
}
.top:hover {
    background-color: rgba(255, 255, 255, 1);
}

.top-logo {
    flex: 1;
}
.top-menu-items {
    flex: 3;
}
.top-menu-items >ul{
    height: 100%;
    display: flex;
}
.top-menu-items > ul > li {
    font-family: var(--main-text-font);
    padding: 0 12px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.top-menu-items ul li::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    bottom: -50%;
}
.top-menu-items ul li:nth-child(4) {
    color: red;
}
.top-menu-items ul li:nth-child(5) {
    color: red;
}
.top-menu-item {
    position: absolute;
    width: 200px;
    top: 100px;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: #ffff;
    height: auto!important;
    padding: 6px;
    border: 1px solid #dddddd;

    
}
.top-menu-items ul li:hover .top-menu-item {
    display: block;
    top: 60px;
    opacity: 1;
}
.top-menu-item li {
   line-height: 25px;
   display: flex;
   justify-content: left!important;
  
}
.top-menu-item li a {
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
    color: #333;
    font-family: var(--main-text-font);
}


/* top-menu-icons */
.top-menu-icons {
    flex: 1;
}
.top-menu-icons ul {
    display: flex;
    height: 100%;
}
.top-menu-icons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}
.top-menu-icons ul li {
    position: relative;
    
}
.top-menu-icons ul li::before {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #333;
    right: 0;
}
.top-menu-icons ul li:last-child::before {
    display: none;
}
.top-menu-icons ul li:first-child input {
    width: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0 0 4px 6px
    
}
.top-menu-icons ul li:first-child i {
    position: absolute;
    font-size: 12px;
    right: 12px;
}
.top-menu-icons ul i {
    cursor: pointer;
}

/* ---------------------Cartegory------------------------------------- */
.cartegory {
    padding: 100px 0 0;
}
.cartegory-top {
    margin-bottom: 50px;
}
.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.cartegory-left {
    width: 40%;
}


.cartegory-left ul li {
    padding: 12px 0;
}
.cartegory-left ul li {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
    cursor: pointer;
}
.cartegory-left ul li ul li {
    padding-left: 10px;
}
.cartegory-left-li ul{
    display: none;
    

}
.cartegory-left-li.block ul {
    display: block;
}
.cartegory-left ul li ul li a {
    color: #333333;
    font-size: 22px;
}

/* ---------------------Cartegory------------------------------------- */
.cartegory {
    padding: 100px 0 0;
}
.cartegory-left {
    width: 40%;
}


 /* -----------------------footer-------------------- */
footer {
    background-color: #e4e4e4;
    margin-top: 100px;
    padding: 100px 0 10px;
}
footer p {
    color: #333;
}
.footer-content {
    justify-content: space-between;
}
.footer-content h3 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}
.footer-content p {
    margin-bottom: 6px;
}
.footer-content-social {
    text-align: center;
    padding: 50px 0 20px;
}
.footer-content-social i {
    font-size: 20px;
    margin-right: 12px;
    cursor: pointer;
}
.footer-copyright {
    text-align: center;
}
.footer-img {
    text-align: center;
}
.footer-img img {
    width: 150px;
}
/* ------------ */    
